 <!-- footer begin -->
 {% load static %}
<footer class="text-light">
    <div class="container">
        <div class="row g-custom-x">
            <div class="col-lg-3">
                <div class="widget">
                    <h5>About Rentaly</h5>
                    <p>Why Choose Us? <br> We are one of the most trusted service providers engaged in offering a wide collection of Tours and Travels Services. The services are popular for their safety, comfortable and enjoying and pocket friendly rate. All these Cab Services are rendered in accordance with the set industry norms and guidelines under the supervision of our tourism experts.</p>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="widget">
                    <h5>Contact Info</h5>
                    <address class="s1">
                        <span><i class="id-color fa fa-map-marker fa-lg"></i>Dreams Rashak Building Pune &nbsp;&nbsp;&nbsp;&nbsp; 412207</span>
                        <span><i class="id-color fa fa-phone fa-lg"></i>+91 9370702118</span>
                        <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:nsblueridecab@gmail.com">nsblueridecab@gmail.com</a></span>
                        {% comment %} <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span> {% endcomment %}
                    </address>
                </div>
            </div>

            <div class="col-lg-3">
                <h5>Quick Links</h5>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget">
                            <ul>
                                <li><a href="{% url 'about' %}">About</a></li>
                               
                                <li><a href="{% url 'driver_apply' %}">Careers</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget">
                    <h5>Social Network</h5>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61557136283219&mibextid=ZbWKwL"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            <a href="index.html">
                                Copyright 2024 - NS Blue Ride Cab
                            </a>
                        </div>
                        <ul class="menu-simple">
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->