<!-- header begin -->
{% load static %}
<header class="transparent scroll-light has-topbar">
   <div id="topbar" class="topbar-dark text-light">
      <div class="container">
         <div class="topbar-left xs-hide">
            <div class="topbar-widget">
               <div class="topbar-widget"><a href="#"><i class="fa fa-phone"></i>+91 9370702118</a></div>
               <div class="topbar-widget"><a href="#"><i class="fa fa-envelope"></i>nsblueridecab@gmail.com</a></div>
               <div class="topbar-widget"><a href="#"><i class="fa fa-clock-o"></i>Mon - Sun 24 X 7</a></div>
            </div>
         </div>
         <div class="topbar-right">
            <div class="social-icons">
               <a href="https://www.facebook.com/profile.php?id=61557136283219&mibextid=ZbWKwL"><i class="fa fa-facebook fa-lg"></i></a>
               <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
               <a href="#"><i class="fa fa-youtube fa-lg"></i></a>
               {% comment %} <a href="#"><i class="fa fa-pinterest fa-lg"></i></a> {% endcomment %}
               <a href="https://www.instagram.com/nsblueridecab?igsh=MTNzOXNmZmh0N25ibQ=="><i class="fa fa-instagram fa-lg"></i></a>
            </div>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="de-flex sm-pt10">
               <div class="de-flex-col">
                  <div class="de-flex-col">
                     <!-- logo begin -->
                     <div id="logo">
                        <a href="{% url 'home' %}">
                        <img class="logo-1" src="{% static 'images/blue-cab-logo1.png' %}" alt="">
                        {% comment %} <img class="logo-2" src="{% static 'images/logo.png' %}" alt=""> {% endcomment %}
                        <img class="logo-2" src="{% static 'images/blue-cab-logo.png' %}" alt="">
                        </a>
                     </div>
                     <!-- logo close -->
                  </div>
               </div>
               <div class="de-flex-col header-col-mid">
                  <ul id="mainmenu">
                     <li><a class="menu-item" href="{% url 'home' %}">Home</a>
                     </li>
                     <li><a class="menu-item" href="{% url 'about' %}">About</a>
                     </li>
                     <li><a class="menu-item" href="{% url 'contact' %}">Contact</a>
                     </li>
                     <li><a class="menu-item" href="{% url 'categories' %}">Destinations</a>
                     </li>
                     <li>
                        <a class="menu-item" href="">Packages</a>
                        <ul>
                           <li><a class="menu-item" href="{% url 'packages' %}">All Packages</a></li>
                           <li><a class="menu-item" href="{% url 'day_package1' %}">One Day Packages</a></li>
                           <li><a class="menu-item" href="{% url 'day_package2' %}">Two Day Packages</a></li>
                           <li><a class="menu-item" href="">Outstation</a></li>
                           <li><a class="menu-item" href="">Local Duty</a></li>
                           <li><a class="menu-item" href="">Airport Transfer</a></li>
                            <li><a class="menu-item" href="{% url 'gallery' %}">Gallery
                           </a>
                           </li>
                           {% comment %} 
                           <li><a class="menu-item" href="car-single.html">Cars Single</a></li>
                           {% endcomment %}
                           {% comment %} 
                           <li><a class="menu-item" href="cars-list.html">Cars List 2</a></li>
                           {% endcomment %}
                           {% comment %} 
                           <li><a class="menu-item" href="02_dark-car-single.html">Cars Single Dark</a></li>
                           {% endcomment %}
                        </ul>
                     </li>
                    
                     
                     <li><a class="menu-item" href="{% url 'driver_apply' %}">Driver Partner
                        </a>
                     </li>
                     {% comment %} 
                     <li>
                        <a class="menu-item" href="account-dashboard.html">My Account</a>
                        <ul>
                           <li><a class="menu-item" href="account-dashboard.html">Dashboard</a></li>
                           <li><a class="menu-item" href="account-profile.html">My Profile</a></li>
                           <li><a class="menu-item" href="account-booking.html">My Orders</a></li>
                           <li><a class="menu-item" href="account-favorite.html">My Favorite Cars</a></li>
                        </ul>
                     </li>
                     <li>
                        <a class="menu-item" href="#">Pages</a>
                        <ul>
                           <li><a class="menu-item" href="about.html">About Us</a></li>
                           <li><a class="menu-item" href="contact.html">Contact</a></li>
                           <li><a class="menu-item" href="login.html">Login</a></li>
                           <li><a class="menu-item" href="register.html">Register</a></li>
                           <li><a class="menu-item" href="404.html">Page 404</a></li>
                        </ul>
                     </li>
                     <li>
                        <a class="menu-item" href="#">News</a>
                        <ul>
                           <li>
                              <a class="menu-item" href="news-standart-right-sidebar.html">News Standard</a>
                              <ul>
                                 <li><a class="menu-item" href="news-standart-right-sidebar.html">Right Sidebar</a></li>
                                 <li><a class="menu-item" href="news-standart-left-sidebar.html">Left Sidebar</a></li>
                                 <li><a class="menu-item" href="news-standart-no-sidebar.html">No Sidebar</a></li>
                              </ul>
                           </li>
                           <li>
                              <a class="menu-item" href="news-grid-right-sidebar.html">News Grid</a>
                              <ul>
                                 <li><a class="menu-item" href="news-grid-right-sidebar.html">Right Sidebar</a></li>
                                 <li><a class="menu-item" href="news-grid-left-sidebar.html">Left Sidebar</a></li>
                                 <li><a class="menu-item" href="news-grid-no-sidebar.html">No Sidebar</a></li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a class="menu-item" href="#">Elements</a>
                        <ul>
                           <li><a class="menu-item" href="preloader.html">Preloader</a></li>
                           <li><a class="menu-item" href="icon-boxes.html">Icon Boxes</a></li>
                           <li><a class="menu-item" href="badge.html">Badge</a></li>
                           <li><a class="menu-item" href="counters.html">Counters</a></li>
                           <li><a class="menu-item" href="gallery-popup.html">Gallery Popup</a></li>
                           <li><a class="menu-item" href="icons-elegant.html">Icons Elegant</a></li>
                           <li><a class="menu-item" href="icons-etline.html">Icons Etline</a></li>
                           <li><a class="menu-item" href="icons-font-awesome.html">Icons Font Awesome</a></li>
                           <li><a class="menu-item" href="map.html">Map</a></li>
                           <li><a class="menu-item" href="modal.html">Modal</a></li>
                           <li><a class="menu-item" href="popover.html">Popover</a></li>
                           <li><a class="menu-item" href="tabs.html">Tabs</a></li>
                           <li><a class="menu-item" href="tooltips.html">Tooltips</a></li>
                        </ul>
                     </li>
                     {% endcomment %}
                  </ul>
               </div>
               <div class="de-flex-col">
                  <div class="menu_side_area">
                     <a href="{% url 'booking' %}" class="btn-main">Book Now</a>
                     <span id="menu-btn"></span>
                  </div>
                  <div class="de-flex-col">
                     <div class="menu_side_area">
                        <a href="{% url 'login' %}" class="btn-main">Sign In</a>
                        <span id="menu-btn"></span>
                     </div>
                  </div>
                  <a href=" https://wa.me/+919370702118?text=Welcome%20to%20NS%20Blue%20Ride%20Cab%20.%20We%20are%20glad%20you%20to%20choose%20us%20" target="_blank">
                     <img src="{% static 'images/whasapp-logo.png' %}" alt="whatsapp" width="60px" >
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
<!-- header close -->
