{% extends 'base\base.html' %}

{% load static %}

{% block content %}

<!-- section begin -->
<section id="subheader" class="jarallax text-light">
    <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Our 2 Day Packages</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
</section>
<!-- section close -->
<!-- Day wise Packages -->



<section id="section-news">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6 offset-lg-3 text-center">
               <h2>Our 2 Day Packages</h2>
               <p>Breaking news, fresh perspectives, and in-depth coverage - stay ahead with our latest news, insights, and analysis.</p>
               <div class="spacer-20"></div>
         </div>
         {% for p in package_day2 %}
         <div class="col-lg-4 mb10">
            <div class="bloglist s2 item">
                     <div class="post-content">
                        <div class="post-image">
                              <div class="date-box">
                                 <div class="m">{{p.package_day}}</div>
                                 <div class="d"> Day</div>
                              </div>
                              <img alt="" src="{{p.package_img.url}}" class="lazy" style="height: 15rem;">
                        </div>
                        <div class="post-text">                                                    
                              <h4><a href="">{{p.package_name}}<span></span></a></h4>
                              <p>{{p.description|truncatechars:50|safe}}</p>
                              <a class="btn-main" href="/package_detail/{{p.id}}/">Read More</a>
                        </div>
                     </div>
            </div>
         </div>
         {% endfor %}
                  
                 
      </div>
   </div>
</section>


<!-- end day wise packages --
{% endblock %}