{% extends 'base\base.html' %}
{% load static %}
{% block content %}
<!-- section begin -->
<section id="subheader" class="jarallax text-light">
   <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
   <div class="center-y relative text-center">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h1>Driver Partner Connect With Us</h1>
            </div>
            <div class="clearfix"></div>
         </div>
      </div>
   </div>
</section>
<!-- section close -->
<section aria-label="section">
   {% comment %} message {% endcomment %}
   {% include 'base/messages.html' %}
   {% comment %} end message {% endcomment %}
   <div class="container">
      <div class="row g-custom-x">
         <div class="col-lg-6 mb-sm-30">
            <h3>Connect with us !</h3>
            <form name="contactForm" id="contact_form" class="form-border" method="post" action="#" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="row">
                  <div class="col-md-6 mb10">
                     <div class="field-set">
                        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name" required>
                     </div>
                  </div>
                  <div class="col-md-6 mb10">
                     <div class="field-set">
                        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name" required>
                     </div>
                  </div>
                  <div class="col-md-6 mb10">
                     <div class="field-set">
                        <input type="text" name="email" id="email" class="form-control" placeholder="Your Email" required>
                     </div>
                  </div>
                  <div class="col-md-6 mb10">
                     <div class="field-set">
                        <input type="text" name="contact" id="phone" class="form-control" placeholder="Your Contact" required>
                     </div>
                  </div>
                  <div class="col-md-6 mb10">
                     <div class="field-set">
                        <input type="text" name="city" id="city" class="form-control" placeholder="City" required>
                     </div>
                  </div>
                  <div class="col-md-6 mb10">
                     <div class="field-set">
                        <input type="text" name="car_name" id="car_name" class="form-control" placeholder="Car Name" required>
                     </div>
                  </div>
                  <div class="col-md-6 mb10">
                     <div class="field-set">
                        <label for="">Car Registration Certificate</label>
                        <input type="file" name="car_registration" id="car_registration" class="form-control" placeholder="Car Registration Certificate" required>
                     </div>
                  </div>
                  <div class="col-md-6 mb10">
                     <div class="field-set">
                        <label for="">Driving License Front Side</label>
                        <input type="file" name="driving_license_front" id="driving_license_front" class="form-control" placeholder="Driving License Front Side" required>
                     </div>
                  </div>
                  <div class="col-md-6 mb10">
                     <div class="field-set">
                        <label for="">Driving License Back Side</label>
                        <input type="file" name="driving_license_back" id="driving_license_back" class="form-control" placeholder="Driving License Back Side" required>
                     </div>
                  </div>
                  <div class="col-md-6 mb10">
                     <div class="field-set">
                        <label for="">Aadhar Card Front Side</label>
                        <input type="file" name="aadhar_front" id="aadhar_front" class="form-control" placeholder="Aadhar Card Front Side " required>
                     </div>
                  </div>
                  <div class="col-md-6 mb10">
                     <div class="field-set">
                        <label for="">Aadhar Card Back Side</label>
                        <input type="file" name="aadhar_back" id="aadhar_back" class="form-control" placeholder="Aadhar Card Back Side Back Side" required>
                     </div>
                  </div>
                  <div class="col-md-6 mb10">
                     <div class="field-set">
                        <label for="">Car Permit</label>
                        <input type="file" name="car_permit" id="car_permit" class="form-control" placeholder="Car Permit" required>
                     </div>
                  </div>
                  <div class="col-md-6 mb10">
                     <div class="field-set">
                        <label for="">Car Insurance</label>
                        <input type="file" name="car_insurance" id="car_insurance" class="form-control" placeholder="Car Insurance" required>
                     </div>
                  </div>
               </div>
               <div class="g-recaptcha" data-sitekey="copy-your-site-key-here"></div>
               <div id='submit' class="mt20">
                  <input type='submit' id='send_message' value='Apply' class="btn-main">
               </div>
               <div id="success_message" class='success'>
                  Your message has been sent successfully. Refresh this page if you want to send more messages.
               </div>
               <div id="error_message" class='error'>
                  Sorry there was an error sending your form.
               </div>
            </form>
         </div>
         <div class="col-lg-4 mt-5">
            <div class="de-box mb30">
               <h4>NS Blue Ride Cab</h4>
               <address class="s1">
                  <span><i class="id-color fa fa-map-marker fa-lg"></i>Dreams Rashak  Building Pune 412207</span>
                  <span><i class="id-color fa fa-phone fa-lg"></i>+91 9370702118</span>
                  <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">nsblueridecab@gmail.com</a></span>
                  {% comment %} <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span> {% endcomment %}
               </address>
            </div>
            {% comment %} 
            <div class="de-box mb30">
               <h4>AU Office</h4>
               <address class="s1">
                  <span><i class="fa fa-map-marker fa-lg"></i>100 Mainstreet Center, Sydney</span>
                  <span><i class="fa fa-phone fa-lg"></i>+61 333 9296</span>
                  <span><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">contact@example.com</a></span>
                  <span><i class="fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span>
               </address>
            </div>
            {% endcomment %}
         </div>
      </div>
   </div>
</section>
<section id="section-call-to-action" class="bg-color-2 pt60 pb60 text-light">
   <div class="container ">
      <div class="row align-items-center">
         <div class="col-lg-8">
            <h2 class="s2">Call us for further information. Rentaly customer care is here to help you anytime.</h2>
         </div>
         <div class="col-lg-8 text-lg-center text-sm-center">
            <div class="phone-num-big">
               <i class="fa fa-phone"></i>
               <span class="pnb-text">
               Call Us Now
               </span>
               <span class="pnb-num">
               +91 9370702118
               </span>
            </div>
            <a href="#" class="btn-main">Contact Us</a>
         </div>
      </div>
   </div>
</section>
{% endblock content %}
